<template name="footer">
  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">

            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
</template>