<template name="homeLoggedIn">

    <div class="card-panel">
        <h1>Quick RSVP<i class="material-icons right medium">grade</i></h1>

        <a class="waves-effect waves-light btn-large {{#if showNewEvent}} disabled {{/if}}" data-action="show-new-event"><i class="material-icons right">person_add</i>New RSVP</a>

        <a class="waves-effect waves-light btn-large {{#if showEvents}} disabled {{/if}}" data-action="show-events"><i class="material-icons right">person_add</i>My RSVPs ({{eventCount}})</a>

    </div>

    {{#if showNewEvent}}
        {{>newEvent}}
    {{/if}}

    {{#if showEvents}}
        {{>eventList}}
    {{/if}}

</template>
