<template name="home">
  <div class="card-panel">
        <h1>New RSVP <i class="material-icons left medium">movie</i> </h1>
        <a class="waves-effect waves-light btn-large blue"><i class="material-icons right">add</i>New Event</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique id, soluta laborum laudantium nisi accusantium, velit debitis asperiores impedit distinctio consequuntur adipisci nobis minima sit maxime. Quam fuga quisquam, in!</p>
</div>
</template>